<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Testing template</title>
    </head>

    <body>
        <h1>Test</h1>
        <div>
            hey there partner! <br>
            <strong>{{ secret1 }}</strong><br>
            <strong>{{ secret2 }}</strong><br>
        </div>

        <div>
            <a href="/rango/">Index</a><br>
            <a href="/rango/about/">About</a><br>
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a cat"/>
            
        </div>
    </body>
    
</html>